BODY {
	PADDING-RIGHT: 50px; PADDING-LEFT: 50px; BACKGROUND: #fff; PADDING-BOTTOM: 50px; FONT: 86% 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif; PADDING-TOP: 50px
}
H1 {
	FONT-FAMILY: "Trebuchet MS",Verdana,Sans-Serif
}
H2 {
	FONT-FAMILY: "Trebuchet MS",Verdana,Sans-Serif
}
H3 {
	FONT-FAMILY: "Trebuchet MS",Verdana,Sans-Serif
}
H2 {
	FONT-SIZE: 1.5em; TEXT-TRANSFORM: uppercase; COLOR: #1c417c; PADDING-TOP: 0.5em; LETTER-SPACING: 0.4pt
}
H3 {
	FONT-SIZE: 1em; TEXT-TRANSFORM: uppercase; COLOR: #0464bb; PADDING-TOP: 0.5em; LETTER-SPACING: 0.2pt
}
A IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
