#lphoto {float: left; width: 6%;}
#lcontent {float: right; width: 94%;}
#rphoto {float: right; width: 6%;}
#rcontent {float: left; width: 94%;}
#header {
background-color:black;
color:white;
text-align:center;
padding:5px;
border-radius:15px;
}
#section {
  display:  inline;
width:70%;
float:right;
padding:10px;
border-radius:5px;
FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#b8c4cb,endColorStr=red); /*IE 6 7 8*/ 
background: -ms-linear-gradient(top, #fff,  #0000ff);        /* IE 10 */
background:-moz-linear-gradient(top,#b8c4cb,#f6f6f8);/*火狐*/ 
background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#b8c4cb), to(#f6f6f8));/*谷歌*/ 
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#0000ff));      /* Safari 4-5, Chrome 1-9*/
background: -webkit-linear-gradient(top, #fff, #0000ff);   /*Safari5.1 Chrome 10+*/
background: -o-linear-gradient(top, #fff, #0000ff);  /*Opera 11.10+*/
}
#footer {
background-color:black;
color:white;
clear:both;
text-align:center;
padding:5px;
}
#aside{
  background-image: url(../img/1.gif);
  line-height:30px;
  text-align:center;
  color: white;
  width:420px;
  float:right;
  height:270px;
  padding:5px;
  font-size:30px;
  font-family:GAT;
  position: absolute;
  top:30%;
  right:0%;
  -webkit-border-radius: 60px;
    border-radius: 60px;
}
#nav {
line-height:20px;
border:3px solid #000;
width:20%;
float:left;
padding:5px;
font-size:40px;
font-family:ITA;
}
p.exr {font-size:12px;
  font-family:Georgia, serif;
  text-align: center;
}
p.exl {font-size:12px;
  font-family:Georgia, serif;
  text-align: center;
}
h1{
  font-family:Arial,Verdana,Sans-serif;
  font-size:20px;
  text-align: center;
  background-image: url(2.jpg);
}

.linear{
	width:100%;
	height:100%;
  border-radius:5px;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#b8c4cb,
endColorStr=#f6f6f8); /*IE*/
	background:-moz-linear-gradient(top,#b8c4cb,#f6f6f8);/*火狐*/
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#b8c4cb), to(#f6f6f8));/*谷歌*/
}

.head{
  box-shadow: 2px 2px 2px rgba(0,0,0,0.7);
  border:5px solid rgba(0,0,0,0.4);
  width:48px;
  height:48px;'
  background-clip: padding-box;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  border-radius: 50%;
  -webkit-border-radius:100px;
  -moz-border-radius:100px;
}
.msg-list {
        width: 100%;
    }
.messenger-container {
      padding: 8px 15px 8px 13px;
      margin: 0 0 25px 35px;
      float: left;
      max-width: 82%;
      background: #f2f2f2;
      border-radius: 10px;
      min-width: 20%;
      position: relative; box-sizing: border-box;
      box-shadow: 7px 10px 6px -5px #BBC0C7;
  }
  .messenger-container p {
     color: #3D3D3D;
      font-size: 16px;
      margin-bottom: 6px;
      line-height: 18px;
      word-wrap: break-word; margin: 0;
  }
  .sender .messenger-container {
      float: right;
      margin-right: 35px;
      width: auto;
      background: #D5DBFF;
      margin-left: 0px;
      padding: 8px 15px 8px 13px;
  }
  .clear {
      clear:both;
      width: 100%;
      padding: 0px !important;
      margin: 0px;
      height:0px;
  }
     .messenger-container::before {
         width: 0px;
         height: 0px;
         border-top: 8px solid transparent;
         border-bottom: 8px solid transparent;

         border-right:15px solid #f2f2f2;
         content: "";
         position: absolute;
         top: 9px;
         left: -15px;
     }
  .sender .messenger-container::before {
        width: 0px;
        height: 0px;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 15px solid #D5DBFF;
        content: "";
        position: absolute;
        top: 9px;
        left: 99%;border-right: none;
 }
